<h1>レシピ編集</h1>

<%= form_for(@recipe) do |f| %>

    <div class="field row">
		<%= f.label :スムージ画像 %>
		<%= f.attachment_field :smoothie_image %>
	</div>

	<div class="field row">
		<%= f.label :レシピ名 %>
		<%= f.text_field :title, class: "col-xs-12 recipe_title" %>
	</div>

	<div class="field row">
		<%= f.label :レシピ紹介 %>
		<%= f.text_area :catchphrase, class: "col-xs-12 recipe_catchphrase" %>
	</div>

	<div class="field row">
		<%= f.label :材料 %>
		<%= f.text_area :ingredient, class: "col-xs-12 recipe_ingredient" %>
	</div>

	<div class="field row">
		<%= f.label :作り方 %>
		<%= f.text_area :method, class: "col-xs-12 recipe_method" %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>