<div class="container">
	<h3>recipe投稿</h3>

	<div class="row">
		<%= form_for(@recipe) do |f| %>
		  	<div class="col-xs-5">
			    <div class="field row">
					<%= f.label :画像 %>
					<%= f.attachment_field :smoothie_image %>
				</div>
			</div>

			<div class="col-xs-7">
				<div class="field row">
					<%= f.label :レシピ名 %>
					<%= f.text_field :title, class: "col-xs-12 recipe_title" %>
				</div>

				<div class="field row">
					<%= f.label :レシピ紹介 %>
					<%= f.text_area :catchphrase, class: "col-xs-12 recipe_catchphrase" %>
				</div>

				<div class="field row">
					<%= f.label :材料 %>
					<%= f.text_area :ingredient, class: "col-xs-12 recipe_ingredient" %>
				</div>

				<div class="field row">
					<%= f.label :作り方 %>
					<%= f.text_area :method, class: "col-xs-12 recipe_method" %>
				</div>

				<div class="actions row">
					<%= f.submit '投稿する', class: "btn btn-primary col-xs-12" %>
				</div>
			</div>
		<% end %>
	</div>
</div>