<div class="container">
	<div class="col-xs-4">
		<h3>マイプロフィール</h3>

		<table class="table">
			<tr>
				<%= attachment_image_tag(@user, :profile_image, :fill, 250, 250, fallback: "no_image.jpg") %>
			</tr>

			<tr>
				<th>名前</th>
				<th><%= @user.name %></th>
			</tr>

			<tr>
				<th>自己紹介文</th>
				<th><%= @user.introduction %></th>
			</tr>
		</table>

		<% if current_user == @user %>
			<%= link_to '編集する', edit_user_path(@user), class: "btn btn-primary" %>
		<% end %>
	</div>

	<div class="col-xs-8">
		<h3>マイ投稿レシピ一覧</h3>

		<div class="my-smoothie-index">
			<% @recipes.each do |recipe| %>
				<ul>
					<li>
						<div class="my-smoothie-box">
							<%= link_to recipe_path(recipe.id) do %>
								<%= attachment_image_tag recipe, :smoothie_image, size: "160x160" %>
							<% end %>
							<p><%= recipe.title %></p>
						</div>
					</li>
				</ul>
			<% end %>
		</div>
	</div>

	<div class="text-center">
		<%= paginate @my_recipes %>
	</div>
</div>